:root {
  --background: #ffffff;
  --foreground: #171717;
  --color1: #45f1ff;
  --color2: #ffe645;
  --color3: #aaa167;
  --color4: #555349;
  --color5: #5d45ff;
  --color6: #b3a130;
  --color7: #6f641e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;  /* Deep black for strong contrast */
--color1: #3ab0ff;       /* Cool azure blue for highlights */
--color2: #ffd166;       /* Warm sunflower yellow for accents */
--color3: #8d8b7e;       /* Neutral taupe gray for balance */
--color4: #555349;       /* Fixed dark gray-brown for text and subtle elements */
--color5: #845ec2;       /* Muted violet for secondary highlights */
--color6: #e76f51;       /* Rich coral red for alerts or emphasis */
--color7: #6f641e; 
--color8: #b3a130;
--color9: #171717;
--color10: rgb(255, 249, 224);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color9);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* --- NProgress style --- */
#nprogress .bar {
  background: #007bff !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #007bff, 0 0 5px #007bff !important;
}
/* ---- PAGE TRANSITIONS ---- */
.page-transition {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.6s ease;
}

.page-enter {
  opacity: 1;
  transform: translateY(0px);
}

.page-exit {
  opacity: 0;
  transform: translateY(15px);
}
