.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}

.mainArea {
  display: flex;
  flex: 1;
  height: calc(100vh - 70px);
  overflow: hidden;
  position: relative;
}

.menuToggle {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: transparent;
  border: none;
  color: #374151;
  cursor: pointer;
  z-index: 1001;
}

.sidebar {
  width: 260px;
  background-color: #ffffff;
  padding: 2rem 1.2rem;
  border-right: 1px solid #e5e7eb;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

/* Hidden sidebar (mobile only) */
.sidebarHidden {
  display: none;
}

/* Mobile sidebar (slide in from left) */
.sidebarMobile {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  border-right: 1px solid #e5e7eb;
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.sectionTitle {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #9ca3af;
  margin: 1rem 0 0.5rem;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  color: #4b5563;
  padding: 0.5rem 0.6rem;
  font-size: 14.5px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.menuItem:hover {
  background-color: #f3f4f6;
}

.iconLabel {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.label {
  font-weight: 500;
}

.mainContent {
  flex: 1;
  padding: 2rem;
  background-color: #f9fafb;
  overflow-y: auto;
}

/* Show toggle only on mobile */
@media screen and (max-width: 768px) {
  .menuToggle {
    display: inline-block;
    left: 24rem;
  }
  
}

.logoutButton {
  width: 10rem;
  padding: 0.75rem;
  background-color: #ef4444; /* Red */
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.logoutButton:hover {
  background-color: #dc2626; /* Darker red */
}


.welcomeBox {
  background: #f9f9f9;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.welcomeBox h2 {
  font-size: 1.5rem;
  margin-bottom: 6px;
}
.welcomeBox p {
  color: #555;
  font-size: 0.95rem;
}
.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
